.up,.down{
    color: black;
}
.up:hover,.down:hover{
    opacity: .7;
    color: black;
}
.up:after{

    content: "";
    background: url(/images/icons/move-to-next.png) no-repeat center / 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
    transform: rotate(-90deg);
    margin-left: 2px;
}
.down:after{
    content: "";
    background: url(/images/icons/move-to-next.png) no-repeat center / 12px;
    width: 12px;
    height: 12px;
    display: inline-block;
    transform: rotate(90deg);
    margin-left: 2px;
}

.no-goods h1{
    color: #8d8b85!important;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center

}